@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1DB2FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white;
  font-family: var(--font-roboto);
}

.slider-container .slick-slide > div {
  margin: 0 15px;
}

.slick-dots > ul > li {
  justify-items: center;
  align-items: center !important;
  height: 10px;
}

.slick-dots > ul > .slick-active > div {
  background-color: var(--background);
}

@media screen and (max-width: 1010px) {
  .contact-bg{
    width: 230px;
    height: 130px;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1400px){
  .contact-bg{
    width: 330px;
    height: 200px;
  }
}

/*@media screen and (min-width: 1280px) {
  .contact-bg{
    width: 100px;
    height: 80px;
  }
}*/